{% extends "base.html" %} 
{% load static %} 
{% block title %}job details for {{ details.title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/details.css' %}" />
{% endblock %} 
{% block content %}
<section class="sec">
    <h1>job details</h1>
    <div class="container">
        <div class="image-container">
            <img 
            width="300"
            src="{{ details.image.url }}" 
            alt="Image"
            />
        </div>
        <div class="details-container">
            <ul>
                <li class="title">
                    {{ details.title }}
                </li>
                <li class="description">
                    {{ details.description }}
                </li>
                <li class="date">
                    Uploaded on {{ details.uploaded_at }}
                </li>
                <li class="date">
                    Uploaded by {{ details.posted_by }}
                </li>
            </ul> 
            <a class="apply" href="{% url 'ApplyFormpage' details.id %}">Apply for job</a>
        </div>
    </div>
</section>
{% endblock %}
