{% extends "base.html" %} 
{% load static %} 
{% block title %} 
    {% if query %}
        {% if search %}
            Search result for {{ query }}
        {% else %}
            No results found for "{{ query }}"
        {% endif %}
    {% else %}
        Enter a valid query
    {% endif %}
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/homepg.css' %}" />
<link rel="stylesheet" href="{% static 'css/offcampus.css' %}" />
{% endblock %} 
{% block content %}
<section class="hero">
  <div class="shadow"></div>
  <div class="shape">
    <div class="content-area">
      <h1>
        Check Your Status
      </h1>
      <div class="cta">
        <form  action="{% url 'StatusSearchpage' %}" method="get", role="search">
          <input
            type="search"
            name="query"
            placeholder="search..."
          />
          <button type="submit">search</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="sec2">
    <h2>
        {% if query %}
            {% if search %}
                Search result for {{ query }}
            {% else %}
                No results found for "{{ query }}"
            {% endif %}
        {% else %}
            Enter a valid query
        {% endif %}
    </h2>
    
  <ul class="grid">
    {% if search %}
        {% for app in search %}
            <li class="list">
                <div class="image-container">
                <img 
                    width="200" 
                    src="{{ app.Job.image.url }}"
                    alt="Image"
                    />
                </div>
                <div class="content-box">
                <div>
                    <div class="title">
                    {{ app.Job.title }}
                    </div>
                    <div class="date">
                    Uploaded on {{ app.uploaded_at }}
                    </div>
                    <a class="apply" href="{% url 'Detailspage' app.id %}">View Details</a>
                </div> 
                </div>
            </li>
        {% endfor %}
    {% endif %}
  </ul>
</section>
{% endblock %}
