{% extends "base.html" %} 
{% load static %} 
{% block title %}Login{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/authenticatepg.css' %}" />
{% endblock %} 
{% block content %}
<section>
  <div class="shadow"></div>
  <h1>Login</h1>
  <form method="post" novalidate>
    {% csrf_token %} 
    {% for field in form %}
    <div class="form_area">
      <div class="label">{{ field.label_tag }}</div>
      <div class="field">{{ field }}</div>
      {% if field.errors %} 
      {% for error in field.errors %}
      <ul class="error">
        <li class="error">{{ error }}</li>
      </ul>
      {% endfor %} {% endif %}
    </div>
    {% endfor %}
    <input class="submit" type="submit" />
    <div class="option">
      <p>
        If you do not have an account
        <a class="link" href="{% url 'Registerpage' %}">Register</a>
      </p>
      <p>
        forgot your password?
        <a class="link" href="{% url 'Passwordreset' %}">Reset password</a>
      </p>
    </div>
  </form>
</section>

{% endblock %}
