{% extends "base.html" %} 
{% block title %}Check your email{% endblock %} 
{% load static %} 
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/authenticatepg.css' %}" />
    <link rel="stylesheet" href="{% static 'css/passwordreset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/passwordresetdone.css' %}" />
{% endblock %} {% block content %}
<section>
  <div class="shadow"></div>
  <h1>Check Your Email</h1>
  <div class="message-box">
    <p>
      A message has been sent to your<br />
      email, please check you email inbox <br />
      and follow the instructons<br />
      to reset your password
    </p>
    <div class="cancel">
      <a class="link" href="{% url 'Loginpage' %}">back to login</a>
    </div>
  </div>
</section>
{% endblock %}
